<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-row">
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <button mat-flat-button routerLink="users" class="toolbar-btn">Users</button>
    <button mat-flat-button routerLink="admin" class="toolbar-btn">Admin</button>
    <mat-form-field class="toolbar-select" name="loginRegisterDropdown">
      <mat-select placeholder="Login" (selectionChange)="navigateTo($event.value)">
        <mat-option *ngFor="let entry of entries" [value]="entry.link">
          {{entry.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
