<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-row">
    <span routerLink="/home" class="home-link">Home</span>
    <span class="example-spacer"></span>
    <button mat-flat-button routerLink="users" class="toolbar-btn">Users</button>
    <button disabled mat-flat-button routerLink="admin" class="toolbar-btn">Admin</button>
    <button mat-flat-button routerLink="create-blog-entry" class="toolbar-btn">New post</button>
    <mat-form-field class="toolbar-select" name="loginRegisterDropdown">
      <mat-select placeholder="Login">
        <mat-option (click)="navigateTo('login')">Login</mat-option>
        <mat-option (click)="navigateTo('register')">Register</mat-option>
        <mat-option (click)="navigateTo('update-profile')">Update profile</mat-option>
        <mat-option (click)="logout()">Logout</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
