<h1 style="text-align: center">Register Page</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <mat-form-field>
      <input matInput placeholder="Full name" formControlName="name">
      <mat-hint *ngIf="registerForm.get('name')?.errors">Full name is required</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
      <mat-hint *ngIf="registerForm.get('username')?.errors">Username is required</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Full email" formControlName="email">
      <mat-hint *ngIf="registerForm.get('email')?.errors">Email is required</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Your password" formControlName="password">
      <mat-hint *ngIf="registerForm.get('password')?.errors">Password is required</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm your password" formControlName="passwordConfirm">
      <mat-hint *ngIf="registerForm.get('passwordConfirm')?.errors">Password confirm is required</mat-hint>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="registerForm.invalid">Register</button>
  </div>
</form>
