<h1 class="text-center">All Users</h1>

<mat-form-field>
  <mat-label>Filter by username</mat-label>
  <input matInput type="text" [(ngModel)]="filterValue" (input)="findByName(filterValue)" placeholder="Search by username">
</mat-form-field>

<div *ngIf="dataSource">
  <mat-table [dataSource]="dataSource.items">
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="user-row" *matRowDef="let row; columns: displayedColumns" (click)="navigateToProfile(row.id)"></mat-row>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.username}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.role}}</mat-cell>
    </ng-container>
  </mat-table>

  <mat-paginator
    [length]="dataSource.meta.totalItems"
    [pageSize]="dataSource.meta.itemsPerPage"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    (page)="onPaginateChange($event)"
    showFirstLastButtons="true"
  >

  </mat-paginator>
</div>
